tools/*
rules/*.owl
rules/*/*.owl
log/*.txt

egoal/__pycache__/*
egoal/*/__pycache__/*
scripts/__pycache__/*
scripts/*/__pycache__/*

/BMLP_GPU

dataset/raw/ecoli_refseq/*
dataset/human/*.npz
models/model_deduc.pt

temp/*

#scripts/klg_refine/*.npz
scripts/klg_refine/kb

data_anal/abduction_results/*hsa.npy

Enrichr/*
